/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100
  padding: 20px;
  background-color: #007BFF;
  color: white
}

.logo{
  font-size: 2rem;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  float: right;
}

.nav-links li{
  display: inline;
  margin-left: 20px;
  font-size: 1.2rem;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem:
}

body {
  font-family: Arial, sans-serif;
  background-color:#f0f8ff;
  color: #333;
  line-height: 1.6;
}

/* Header (Blue background) */
header {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

header .highlight {
  color: #ffd700;
}

nav ul{
  list-style: none;
  padding: 1rem 0;
}

nav ul li{
  display: inline;
  margin: 0 1rem;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: underline
}

/* Form Styling */
form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form label{
  margin-top: 1rem;
}

form input, form textarea, button{
  
}

/* Section Styling (White background) */
section {
  background-color: white;
  padding: 2rem;
  max-width: 800px;
  margin: 1rem auto;
}

/* Project Cards */
.project {
  background: #f0f8ff;
  padding: 1rem;
  margin-top: 1rem;
  border-left: 5px solid #007BFF;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* Skills List */
ul {
  padding-left: 1.5rem;
  list-style-type: square;
}

/* Footer (Blue background) */
footer {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
